<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чемпіонати</title>
</head>
<body>
    <header>
		<h2>Цікава інформація про чемпіонати ліги</h2>
	</header>
    <main>
		<table border="5" bordergcolor="#00FF00" width="100%">
            <tr>
                <td>Кількість чемпіонатів у 2000-2020 роках</td>
                <td>Кількість перемог у 2000-2020 роках</td>
                <td>Кількість нових гравців</td>
				<td>Кількість фанів</td>
            </tr>
            <tr>
                <td>200</td>
                <td>180</td>
                <td>120</td>
				<td>1000000</td>
            </tr>
        </table>
		<br><br>
		<a href="../index.html">На основну сторінку</a>
    </main>
    <footer>
        <h4>Підтримайте національну лігу на своїх сторінках у соціальних мережах</h4>
    </footer>
</body>
</html>