<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новини</title>
</head>
<body>
    <header>
		<nav>
            <ul>
				<li> <a href="../index.html">Головна сторінка</a></li>
				<li> <a href="./about_liga.html">Про лігу</a></li>
				<li> <a href="./video.html">Відео</a></li>
			</ul>
        </nav>
		<h2>Новини</h2>
	</header>
    <main>
		<date>2020</date>
		<p><span style="color: brown;">10 жовтня <b>національна хокейна ліга</b></span> <i>перемогла</i> у ювілейному чемпіонаті, який проходив у  
			   <em>Варшаві</em> </p>
		<hr><br>
		<date>2019</date>
		<p><span style="color: brown;">10 жовтня <b>національна хокейна ліга</b></span> <i>перемогла</i> у ювілейному чемпіонаті, який проходив у  
			   <em>Відні</em> </p>
		<hr><br>   
    </main>
    <footer>
        <h4>Підтримайте національну лігу на своїх сторінках у соціальних мережах</h4>
    </footer>
</body>
</html>