<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перемоги</title>
</head>
<body>
    <header>
        <h2>Цікава інформація про чемпіонати ліги</h2>
	</header>
    <main>
		<br>
		<h3>Чемпіонати</h3>
		<ul>
            <li>Чемпіонати 2020 року</li>
            <ul>
                <li>Польща</li>
                <li>Австрія</li>
                <li>Туреччина</li>
                <ul>
                    <li>Стамбул</li>
                    <li>Анкара</li>
                    <li>Бодрум</li>
					<li>Анталія</li>
                </ul>
            </ul>
			<li>Чемпіонати 2021 року</li>
        </ul>
		<br>
		<h3>Перемоги</h3>
        <ol>
            <li>Австрія</li>
            <li>Туреччина</li>
            <ol>
                <li>Стамбул</li>
                <li>Бодрум</li>
            </ol>
        </ol>
		<a href="../index.html">На основну сторінку</a>
    </main>
    <footer>
        <h4>Підтримайте національну лігу на своїх сторінках у соціальних мережах</h4>
    </footer>
</body>
</html>