.middle-wraper .shop-items{
    display: flex;
    flex-wrap: wrap;/*щоб переходило на наст.сторінку*/
}
.middle-wraper .shop-items .single-shop-card {
    width: calc(100% / 4);
}
.single-shop-card {
    padding: 5px;
    box-sizing: border-box;/*додавати padding всередині*/
}
.single-shop-card .card-inner {
    background: white;
}
.single-shop-card img {
    width: 100%;
}